<!--==========================
  Maps Section
  ============================-->


<section id="maps-section">

  {{!--
  <div class="row">
    <div class="container address-holder" style="background:black;">
      <div class="col-xs-12">
        <p class="">
          <strong>{{pageTitle}}</strong>
          <br/>
          <br/>
          <a href="{{map_link}}">
            {{address}}</a>

          <br/>
          <a href="{{map_link2}}">
            {{address2}}</a>

          <br/>
          <a href="{{map_link3}}">
            {{address3}}</a>
        </p>
      </div>



    </div>
  </div> --}}



  <div id="map">
  </div>
  <script>
    function initMap() {
      var uluru = { lat: 51.420501, lng: -1.726128 };
      var alma = { lat: 51.4622555, lng: -2.6169094 };
      var todd = { lat: 51.598777, lng: -1.734586 };
      var newbury = { lat: 51.3989603, lng: -1.3304218 };
      var salisbury = { lat: 51.0683638, lng: -1.7930233 };
      var oldtown = { lat: 51.5504202, lng: -1.7772621 };
      inbetween = { lat: 51.362555, lng: -2.2 }
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        center: inbetween
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
      var marker2 = new google.maps.Marker({
        position: alma,
        map: map
      });
      var marker3 = new google.maps.Marker({
        position: todd,
        map: map
      });
      var marker4 = new google.maps.Marker({
        position: newbury,
        map: map
      });
      var marker5 = new google.maps.Marker({
        position: salisbury,
        map: map
      });
      var marker6 = new google.maps.Marker({
        position: oldtown,
        map: map
      });

    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAILk-KjSRSeXsJYn7GF82mLUWR0qZ9N_k&callback=initMap">
    </script>
</section>