<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Our Treatments</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Check out all the podiatry treatments available at the Beute Clinic*</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">{{treatment1}}</a>
            </h4>
            <p class="service-description">{{desc1}}
            </p>

            <p id="collapse1" class="service-description collapse">
              {{desc1a}}
            </p>

            {{!--
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                READ MORE
              </button>
            </div> --}}

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>







          </div>


        </div>
      </div>

      <div class=" col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">{{treatment2}}</a>
            </h4>
            <p class="service-description ">{{desc2}}</p>
            <p id="collapse2" class="service-description collapse">{{desc2a}}
            </p>

            {{!--
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div> --}}

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>

          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">{{treatment3}}</a>
            </h4>
            <p class="service-description ">{{desc3}}</p>

            <p id="collapse3" class="service-description collapse">{{desc3a}}
            </p>

            {{!--
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                READ MORE
              </button>
            </div> --}}

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>

          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>



      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">{{treatment4}}</a>
            </h4>
            <p class=" service-description ">{{desc4}}
            </p>

            <p id="collapse4" class="service-description collapse">
              {{desc4a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">{{treatment5}}</a>
            </h4>
            <p class="service-description ">{{desc5}}</p>

            <p id="collapse5" class="service-description collapse">{{desc5a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">{{treatment6}}</a>
            </h4>
            <p class="service-description ">{{desc6}}</p>

            <p id="collapse6" class="service-description collapse">{{desc6a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer "></div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">{{treatment7}}</a>
            </h4>
            <p class="service-description ">{{desc7}}</p>
            <p id="collapse7" class="service-description collapse">{{desc7a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">

            <h4 class="service-title ">
              <a href="#contact ">{{treatment8}}</a>
            </h4>
            <p class="service-description ">{{desc8}}</p>
            <p id="collapse8" class="service-description collapse">{{desc8a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact ">{{treatment9}}</a>
            </h4>
            <p class="service-description ">{{desc9}}</p>
            <p id="collapse9" class="service-description collapse">{{desc9a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 top-buffer "></div>



      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact ">{{treatment10}}</a>
            </h4>
            <p class="service-description ">{{desc10}}</p>
            <p id="collapse10" class="service-description collapse">{{desc10a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">

            <h4 class="service-title ">
              <a href="#contact ">{{treatment11}}</a>
            </h4>
            <p class="service-description ">{{desc11}}</p>
            <p id="collapse11" class="service-description collapse">{{desc11a}}
            </p>

            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>


            </div>
          </div>
        </div>
      </div>



      <div class="col-md-12 top-buffer "></div>

      <div class="container ">
        <div class="row ">
          <div class="col-xs-12 bottom-align-text ">
            <h5 class="cancellation ">*CANCELLATION POLICY:</h5>
            <p class="cancellation-p ">{{cancellationPolicy1}}</p>
            <p class="cancellation-p ">{{cancellationPolicy2}}</p>
            <p class="cancellation-p ">{{cancellationPolicy3}}</p>
          </div>
        </div>
      </div>


    </div>




  </div>


</section>